body {
    margin: 0;
    font-family: sans-serif;
}
h3 {
    margin: 0;
    color:#3a0119;
}
.container {
    background-color: rgba(168, 7, 85, 0.507);
    min-height: 100vh;
    width: calc(100% - 60px);
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
    gap: 30px;
}
.card {
    background-color: rgb(168, 168, 168);
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    background-image: url(https://funart.pro/uploads/posts/2021-04/thumbs/1618261643_15-p-smeshnie-mordi-kotov-zhivotnie-krasivo-fot-16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.default {
    background-image: url(images/defolt\ kot.png);
    background-size: contain;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dededeaa;
}
.card>* {
    position: relative;
}
.card__like {
    position: absolute;
    top: 8px;
    right: 8px;
    color: crimson;
    cursor: pointer;
}
.card h3 {
    margin-bottom: 5px;
}
.empty {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(50% - 300px);
}
.empty::after {
    content: "...";
}
.modal-container {
    position: fixed;
    background-color: rgba(63, 12, 40, 0.767);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    width: calc(100% - 60px);
    max-width: 300px;
    max-height: calc(100% - 60px);
    position: relative;
}
.modal h2 {
    margin-top: 0;
    color: #3a0119;
}
.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}
.modal-close:hover {
    color: rgb(212, 39, 8);

}
.modal form {
    display: grid;
    gap: 10px;
}
input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid rgb(118, 16, 128);
    background-color: rgba(235, 171, 203, 0.61);
}
naw {
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(168, 7, 85, 0.507);
    right: 0;
    padding: 20px;
    display: grid;
    gap: 20px;
    align-content: center;

}
.control i {
    font-size: 1.4rem;
    cursor: pointer;
}
.control i:hover {
    color: rgb(157, 151, 196);
}